.persons {
  display: flex;
  justify-content: center;

  .person {
    border-color: #1976d2;
    border-style: solid;
    margin: 20px;
    width: 600px;

    .name {
      background-color: #1976d2;
      color: white;
      margin-top: 0;
      padding: 7px;
    }

    .note {
      margin: 7px;
    }

    .age {
      margin: 7px;
    }
  }
}